"*":
  core: {}
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "7c865033-8a2c-7cf8-a893-c38b361a90f8"
  welcome:
    showOnStartup: false
